name: natan-ci

on:
  push:
    branches:
      - main

jobs:
  docker:
    name: docker build
    runs-on: ubuntu-latest
    steps:
      - name: qemu test
        uses: docker/setup-qemu-action@v3

      - name: docker buildx test
        uses: docker/setup-buildx-action@v3

      - name: login to dockerhub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}  

      - name: build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: rnats/to-hub:latest